In [3]:
# import libraries
import pandas as pd
import numpy as np
import mysql.connector
import sqlalchemy
import warnings
warnings.filterwarnings('ignore')

## **RDS database**

In [4]:
mydb = mysql.connector.connect(
    host = 'endpoint',
    port = 3306,
    user = 'admin',
    password = 'samguna10')

In [5]:
mycursor = mydb.cursor()

In [6]:
mycursor.execute('show databases')

In [7]:
mycursor.fetchall()

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [9]:
mycursor.execute('create database chefmate')

mydb.commit()

In [12]:
mycursor.execute('show databases')

mycursor.fetchall()

[('chefmate',),
 ('information_schema',),
 ('mdtm31',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [13]:
server = 'endpoint'
port = 3306
user = 'admin'
password = 'samguna10'
database = 'chefmate'
sqltype = "mysql+mysqlconnector"

engine = sqlalchemy.create_engine(f'{sqltype}://{user}:{password}@{server}:{port}/{database}')

In [14]:
# Load the cleaned data
df = pd.read_csv('Zomato_cleaned_data.csv')

In [15]:
df.to_sql("restaurant",con=engine,if_exists = 'replace')

-1

In [ ]:
# SQL query
#query = "SELECT * FROM restaurant"
# Load data into a DataFrame
#df = pd.read_sql(query, engine)

In [ ]:
# remove one index
#df = df.drop(columns=['index'])